<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2e7b7dca-9343-4236-86ef-ce4ff8f26968/resourceGroups/appsvc_windows_centralus/providers/Microsoft.Web/sites/API20220909113006</ResourceId>
    <ResourceGroup>appsvc_windows_centralus</ResourceGroup>
    <ApiResourceId>/subscriptions/2e7b7dca-9343-4236-86ef-ce4ff8f26968/resourceGroups/appsvc_windows_centralus/providers/Microsoft.ApiManagement/service/ShoppingListsApi/apis/shoppinglistapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api20220909113006.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>a03aac3e-9784-4d79-a1ab-ba133a421648</ProjectGuid>
    <MSDeployServiceURL>api20220909113006.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>API20220909113006</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$API20220909113006</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>